<div id="output"></div>

<h3 id="answer-input">Your Answer Is: <span id="answer-submit"></span> <span id="answer-check"></span></h3>
<h3 id="correction" style="color: red;"></h3>

<div id="answer-section" style="display: block;">
    <div id="pitch">
        <button id="pitch-button" value="C">C</button>
        <button id="pitch-button" value="D">D</button>
        <button id="pitch-button" value="E">E</button>
        <button id="pitch-button" value="F">F</button>
        <button id="pitch-button" value="G">G</button>
        <button id="pitch-button" value="A">A</button>
        <button id="pitch-button" value="B">B</button> 
    </div>

    <div id="accidental">
        <button id="accidental-button" value="&#119083">Double Flat</button>
        <button id="accidental-button" value="&#9837">Flat</button>
        <button id="accidental-button" value="&#9839">Sharp</button>
        <button id="accidental-button" value="&#119082">Double Sharp</button>
    </div>
</div>

<div id="action">
    <button id="check-button" style="display: block;">Check</button>
    <button id="next-button" style="display: none;">Next</button>
</div>