<div id="output"></div>

<h3>Notate above the given pitch to create <span id="question" style="color: blue;"></span> interval</h3>
<h3 id="answer-check" style="color: red;"></h3>

<div id="answer-section" style="display: block;">

    <div id="accidental">
        <button id="accidental-button" value="bb">&#119083</button>
        <button id="accidental-button" value="b">&#9837</button>
        <button id="accidental-button" value=''>&#9838</button>
        <button id="accidental-button" value="#">&#9839</button>
        <button id="accidental-button" value="##">&#119082</button>
    </div>

</div>

<div id="action-button">
    <button id="check-button" style="display: block;">Check</button>
    <button id="next-button" style="display: none;">Next</button>
</div>